
@model HostMonitor.Models.Menssagem

@{

    HostMonitor.Models.Db l = new HostMonitor.Models.Db();
    var lgroups = l.HostGroup.Select(c => new { c.groupId, c.groupName }).ToList();
    var g = 0;
    var ccc = 0;
    List<HostMonitor.Models.SubGroup> lsubGroups(int group)
    {
        List<HostMonitor.Models.SubGroup> lsg = l.SubGroup.Where(c => c.sGroup == group).ToList();

        return lsg;
    }
    List<HostMonitor.Models.centroDeCusto> lcentro(int su)
    {
        List<HostMonitor.Models.centroDeCusto> lsc = l.centroDeCusto.Where(c => c.ccSubGroup == 10).ToList();
        return lsc;
    }

    List<Object> lst = new List<Object>
    {


    };

    for (int i = 0; i < lgroups.Count; i++)
    {
        lst.Add(new { value = lgroups[i].groupId, text = lgroups[i].groupName });

    }
    List<Object> lssub = new List<object>
    {


    };

    List<Object> lstsub(int gp)
    {
        var lss = lsubGroups(gp);

        List<Object> lsts = new List<object>
        {


        };

        for (int i = 0; i < lss.Count; i++)
        {
            lsts.Add(new { value = lss[i].subgId, text = lss[i].subgroupName });

        }
        lssub = lsts;
        return lsts;

    };




    List<Object> lstcentro()
    {
        var lcc = lcentro(9);

        List<Object> lstcc = new List<object>
        {


        };

        for (int i = 0; i < lcc.Count; i++)
        {
            lstcc.Add(new { value = lcc[i].ccId, text = lcc[i].ccName });

        }

        return lstcc;

    };


    for (int i = 0; i < lgroups.Count; i++)
    {
        lst.Add(new { value = lgroups[i].groupId, text = lgroups[i].groupName });

    }



    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
}


<div id="sub">

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.Label("Grupo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.idGrupo, new SelectList(Model.groups, "groupId", "groupname", 0), htmlAttributes: new { @id = "lsgrupo" })


            </div>
        </div>


        <div class="form-group">
            @Html.Label("Sub Grupo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.idSubgrupo, new SelectList(Model.subgrupos, "subgId", "subgroupName", 0), htmlAttributes: new { @id = "radiu", @onchange = "f()" })

            </div>
        </div>



    </div>

</div>




<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="atualizar" id="atualizar" class="btn btn-default" />
    </div>
</div>


<script>
    $(function () {
        $("#lsgrupo").selectmenu({
            change: function (event, data) {



                document.getElementById("atualizar").click();








            }
        });

    });
</script>




<script type="text/javascript"
        src="~/Scripts/jquery-ui.js">
</script>



<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>








<script type="text/javascript">










    $("#radiu").selectmenu();
    $("#lsgrupo").selectmenu();











</script>















@section Scripts {






    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript"
            src="~/Scripts/jquery-ui.js">
    </script>



    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $('#Atualizar').click(function () {
            alert("ok")

            document.getElementById("atualizar").click();
        })
    </script>


    <script type="text/jscript">

        $("#radius").selectmenu();
        $("#lsgrupo").selectmenu();




        function func() {



        }


    </script>



    <script type="text/javascript">



        $("#radius").selectmenu();
        $("#lsgrupo").selectmenu();

        $(document).ready(function () {


            $("#lsgrupo").selectmenu({
                change: function (event, data) {



                    document.getElementById("atualizar").click();









                }
            });



            $("#radiu").selectmenu({
                change: function (event, data) {

                    alert("ok")

                }
            });


            $("#lscentro").selectmenu({
                change: function (event, data) {

                    alert("ok")

                }
            })


            /*   $("#radius").change({
        change: function (event, data) {
        alert("teste")
}
});


*/


        });

    </script>








}
