<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HostMonitor", "", "hosts", new { area = "" }, new { @class = "navbar-brand" })


            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">

                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("administrador"))
                        {
                            <li>@Html.ActionLink("Configurações", "", "")</li>
                            <li>

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <ul class="dropdown-menu">
                                       <li>@Html.ActionLink("Menssagens ", "", "Menssagems")</li>
                                        <li>@Html.ActionLink("Cadastrar Usuário ", "Register", "Account")</li>
                                        <li>@Html.ActionLink("Grupos de Hosts ", "", "HostGroups")</li>
                                        <li>@Html.ActionLink("Centro de Custo", "", "centroDeCustoes")</li>
                                        <li>@Html.ActionLink("Tipos de Dispositivos", "", "Devices")</li>
                                        <li>@Html.ActionLink("Sub Grupos", "", "SubGroups")</li>

                                    </ul>


                                </a>
                            </li>


                        }
                   @*     @if (User.IsInRole("usuario"))
                        {

                            <li>@Html.ActionLink("Configurações", "", "HostGroups")</li>
                            <li>

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Hosts ", "", "hosts")</li>
                                       
                                    </ul>


                                </a>
                            </li>


                        }

                       *@

                    }










                    @Html.Partial("_LoginPartial")
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - HostMonitor by Luis Henrique de Moraes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
