@model HostMonitor.Models.Menssagem

@{
    ViewBag.Title = "Enviar Menssagem";
    HostMonitor.Models.Db l = new HostMonitor.Models.Db();
    var lgroups = l.HostGroup.Select(c => new { c.groupId, c.groupName }).ToList();
    var g = 0;
    var ccc = 0;
    List<HostMonitor.Models.SubGroup> lsubGroups(int group)
    {
        List<HostMonitor.Models.SubGroup> lsg = l.SubGroup.Where(c => c.sGroup == group).ToList();

        return lsg;
    }
    List<HostMonitor.Models.centroDeCusto> lcentro(int su)
    {
        List<HostMonitor.Models.centroDeCusto> lsc = l.centroDeCusto.Where(c => c.ccSubGroup == 10).ToList();
        return lsc;
    }

    List<Object> lst = new List<Object>
    {


    };

    for (int i = 0; i < lgroups.Count; i++)
    {
        lst.Add(new { value = lgroups[i].groupId, text = lgroups[i].groupName });

    }
    List<Object> lssub = new List<object>
    {


    };

    List<Object> lstsub(int gp)
    {
        var lss = lsubGroups(gp);

        List<Object> lsts = new List<object>
        {


        };

        for (int i = 0; i < lss.Count; i++)
        {
            lsts.Add(new { value = lss[i].subgId, text = lss[i].subgroupName });

        }
        lssub = lsts;
        return lsts;

    };




    List<Object> lstcentro()
    {
        var lcc = lcentro(9);

        List<Object> lstcc = new List<object>
        {


        };

        for (int i = 0; i < lcc.Count; i++)
        {
            lstcc.Add(new { value = lcc[i].ccId, text = lcc[i].ccName });

        }

        return lstcc;

    };


    for (int i = 0; i < lgroups.Count; i++)
    {
        lst.Add(new { value = lgroups[i].groupId, text = lgroups[i].groupName });

    }


    <h2>Menssagens</h2>
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
}





@using (Ajax.BeginForm("Create", "Menssagems", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "sub" },htmlAttributes:new {@id="form1" }))
{








}




@using (Ajax.BeginForm("Create", "Menssagems", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "sub" }, htmlAttributes: new { @id = "form2" }))
{

        @Html.AntiForgeryToken()
  
        <div class="form-horizontal">
            <h4>Enviar Menssagem</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            @Html.Partial("_gruposPartial", Model)

        
            <input type="button" value="Atualizar" id="Atualizar" />

            <div class="form-group">


                @Html.Label("Centro de Custo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.idSubgrupo, new SelectList(lstcentro(), "value", "text", 0), htmlAttributes: new { @id = "lscentro" })


                </div>
            </div>


            <div class="form-group">

                @Html.Label("Menssagem", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.menssagem1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.menssagem1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                @Html.Label("variavel", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.c0, new { htmlAttributes = new { @class = "form-control" , @placeholder = "Digite Nome ou CPF"} })
                    @Html.ValidationMessageFor(model => model.c01, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-default" />
            </div>
        </div>

    }




<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {






    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript"
            src="~/Scripts/jquery-ui.js">
    </script>



    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

<script type="text/javascript">
    $('#Atualizar').click(function () {
        alert("ok")
       
           document.getElementById("form2").submit();
            })
</script>


    <script type="text/jscript">

        function func() {



        }


    </script>



    <script type="text/javascript">

        $("#radius").selectmenu();

        $(document).ready(function () {




            var circle = $("#circl");

            $("#radiu").selectmenu({
                change: function (event, data) {

                    alert("ok")

                }
            });

            $("#lsgrupo").selectmenu({
                change: function (event, data) {
                    var h = data.item.value;
                    alert(h)











                }
            });

            $("#lscentro").selectmenu({
                change: function (event, data) {

                    alert("ok")

                }
            })


            /*   $("#radius").change({
        change: function (event, data) {
        alert("teste")
}
});


*/


        });

    </script>








}
