@model HostMonitor.Models.Menssagem

@{
    ViewBag.Title = "Enviar Menssagem";

}
<hr />
<h2>Enviar Menssagem</h2>
<br />
<br />
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />


@using (Ajax.BeginForm("Altergp", "Menssagems", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "sub" }, htmlAttributes: new { @id = "form1" }))
{
    @Html.Partial("_gruposPartial", Model)
}

@using (Html.BeginForm("Create", "Menssagems", FormMethod.Post, htmlAttributes: new { @id = "form2" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">

            @Html.Label("Menssagem", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.menssagem1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.menssagem1, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-md-10">
            @Html.EditorFor(model => model.idSubgrupo, new { htmlAttributes = new { @class = "form-control", @id = "subgrupo" } })

        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.idGrupo, new { htmlAttributes = new { @class = "form-control", @id = "grupo" } })

        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.idCentro, new { htmlAttributes = new { @class = "form-control", @id = "centro" } })

        </div>

        <div class="col-md-10">
            @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", @id = "usuario" } })

        </div>


    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Voltar", "Index", new { @class = "btn btn-primary btn-large" })   <input type="button" value="Enviar" id="env" class="btn btn-default" />
        </div>
    </div>
    <br />
    <br />
    <br />
}






@section Scripts {






    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript"
            src="~/Scripts/jquery-ui.js">
    </script>



















    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $('#Atualizar').click(function () {


            document.getElementById("atualizar").click();
        })
    </script>


    <script type="text/jscript">

        $("#radius").selectmenu();
        $("#lsgrupo").selectmenu();
        $("#lscentro").selectmenu()
        $("#tip").val = 1;
        document.getElementById("tip").data.val = "2";



    </script>



    <script type="text/javascript">



        $("#radius").selectmenu();
        $("#lsgrupo").selectmenu();
        $("#atualizar").hide();
        $("#tip").hide();
        $("#subgrupo").hide();
        $("#grupo").hide();
        $("#centro").hide();
        $("#usuario").hide()
        $(document).ready(function () {


            $("#env").click(function () {


                $("#grupo").val($("#lsgrupo").val());
                $("#centro").val($("#lscentro").val());
                $("#subgrupo").val($("#radiu").val());


                // $("#usuario").val(User.Identity.GetUserName());

                $("#form2").submit();

            });









            $("#lsgrupo").selectmenu({
                change: function (event, data) {

                    $("#tip").val("1");

                    document.getElementById("atualizar").click();









                }
            });



            $("#radiu").selectmenu({
                change: function (event, data) {
                    $("#tip").val("2");


                }
            });


            $("#lscentro").selectmenu({
                change: function (event, data) {

                    $("#tip").val("3");
                }
            })


            /*   $("#radius").change({
        change: function (event, data) {
        alert("teste")
}
});


*/


        });

    </script>








}
